<h4>Datos Vehiculo </h4>
<hr>
<form>

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Matricula</label>
      <div class="col-8">

        <input class="form-control"
               type="text"

               >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Marca</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
              >
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Cilindraje</label>
    <div class="col-md-8">

      <input class="form-control"
             type="number"
             >
    </div>
  </div>


  <fieldset class="form-group">
   <div class="row">
     <legend class="col-form-legend col-sm-2">Tipo Vehiculo</legend>
     <div class="col-sm-10 radiob">
       <div class="form-check form-check-inline">
         <label class="form-check-label">
           <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
           Carro
         </label>
       </div>
       <div class="form-check form-check-inline">
         <label class="form-check-label">
           <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          Moto
         </label>
       </div>

     </div>
   </div>
 </fieldset>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="button" class="btn btn-outline-primary"
    (click)="guardar()">
        Guardar
      </button>
    </div>
  </div>

</form>
